body{background: #fbfbfb; font-size: 15px; font-family: 'Poppins', sans-serif; font-weight: 400;}

.mybtn {background-color: #a71b5d; color: #fff; text-decoration: none; font-size: 16px; padding: 9px 28px; display: inline-block; border-radius: 6px; font-weight: 500; letter-spacing: .5px; transition: all .8s ease;}
.mybtn:hover{background-color: #156060; color: #fff;}

.mynavbar .navbar {padding: 6px 0;}
.mynavbar .navbar .nav-item{margin-right: 20px;}
.mynavbar .navbar .nav-link {font-size: 16px; padding: 10px 20px; text-transform: capitalize; font-weight: 600;}
.mynavbar .navbar .nav-link.active, .mynavbar .navbar .nav-link:hover{color: #a71b5d;}

.navlogin .order-now-btn {margin-right: 10px;}
.navlogin .loginbtn {color: #00615e; text-decoration: none; font-size: 16px; font-weight: 600;}
.navlogin .loginbtn:hover{color:#a71b5d}



@media (max-width: 991px) {
    .mynavbar .navbar .navbar-nav {margin: 12px 0 10px;}
    .mynavbar .navbar-toggler {background: #003b7d; padding: 5px 12px;}
    .mynavbar ul.navbar-nav {background: #003b7d; border-radius: 7px;  margin: 10px 0 10px;}
    .mynavbar .navbar .navbar-nav .nav-link {padding: 12px 12px; border-bottom: 1px solid #022e63;  color: #fff;}
    .mynavbar .navbar .navbar-nav .nav-item:last-child .nav-link {border-bottom: none;}
    .mynavbar .navbar-toggler span {background-image: none; background-color: #fff; width: 22px; height: 2px; margin: 6px 0; display: block;}

}